PORT = 5000
MONGO_URI = mongodb://toslimuddinrahat_db_user:E75rOovbWSwEuFva@ac-8fyshpb-shard-00-00.oiqyuee.mongodb.net:27017,ac-8fyshpb-shard-00-01.oiqyuee.mongodb.net:27017,ac-8fyshpb-shard-00-02.oiqyuee.mongodb.net:27017/?ssl=true&replicaSet=atlas-8bqnfo-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=supersecretkey123

ADMIN_EMAIL=admin@landmarket.com
ADMIN_PASSWORD=Admin@12345

